/* start top info */

.top-info {
  margin-top: 40px;
}

/* start image */

.main-image-product-detail {
  width: 100%;
  border: 0.5px solid var(--gray);
}

.main-image-product-detail:hover {
  border: 0.5px solid orange;
}

.main-image-product-detail img {
  width: 100%;
}

.sub-image-product-detail {
  cursor: pointer;
  width: 100%;
  height: 100px;
}

.sub-image-product-detail:hover {
  border: 0.5px solid orange;
}

.sub-image-product-detail img {
  width: 100%;
  height: 100%;
}


/* end image */


/* start product info */

.review-overall {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: gray;
  border-top: 0.5px solid var(--gray);
  border-bottom: 0.5px solid var(--gray);
  padding: 10px 0px;
}

.review-overall a {
  color: gray;
  margin: 0px 10px;
}

.review-overall a:hover {
  color: var(--blue);
}

.description {
  font-size: 15px;
  color: rgb(54, 54, 54);
}

.info-product {
  font-size: 15px;
  color: rgb(54, 54, 54);
}

.info-product a {
  color: var(--green);
}

.info-product a:hover {
  color: var(--blue);
}

.price-product {
  color: rgb(185, 1, 1);
  font-size: 20px;
  font-weight: 600;
}

.action-links-product {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.action-links-product label {
  margin-right: 10px;
  color: rgb(54, 54, 54);
}

.action-links-product input {
  padding: 20px 10px;
  margin-right: 10px;
  border: 0.5px solid var(--gray);
  outline: none;
}

.action-links-product input:focus {
  border: 0.5px solid orange;
}

.btn-cart {
  padding: 20px 10px;
  background-color: #005e99;
  margin-right: 10px;
  font-weight: bold;
  border: none;
  color: white;
  padding: 20px 40px;
  font-size: 15px;
  cursor: pointer;
}

.btn-cart:hover {
  background-color: var(--green);
}

.btn-wishlist {
  background-color: rgb(215, 239, 255);
  color: #005e99;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0px;
  border: none;
  cursor: pointer;
}

.btn-wishlist:hover {
  color: white;
  background-color: #005e99;
}

.tags {
  margin-top: 20px;
}

.tags span {
  font-size: 15px;
  color: gray;
}

.tags a {
  color: var(--green);
}

.tags a:hover {
  color: var(--blue);
}

/* end product info */

.banner {
  margin-bottom: 20px;
}

.banner img {
  width: 100%;
}


/* end top info */

/* start tabs */

.tabs {
  margin: 40px 0px;
}

.wrap-tabs {
  border: 0.5px solid var(--gray);  
}

/* start review */

.reviews {
  padding: 10px;
  border: 0.5px solid var(--gray);
}

.review {
  display: flex;
}

.avatar-review {
  margin-top: 20px;
  margin-right: 20px;
}

.avatar-review img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  border: 0.5px solid orange
}

.review-form {
  margin: 40px 20px 40px 0px;
}

.rating-review-form {
  margin: 20px 0px;
}

/* end review */


/* end tabs */


.related-product {
  margin: 40px 0px;
}


