.wrap-main {
  margin: 40px 0px;
}

/* start filter category */

.categories {
  margin: 20px 0px;
}

.name-filter {
  border: 1px solid rgb(219, 219, 219);
  padding: 20px;
}

.category {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.category input {
  margin-right: 10px;
}

.category input {
  width: 20px;
  height: 20px;
}

.category:hover label {
  color: var(--blue);
}

/* end filter category */


/* start filter navigation */


.price-filter {
  display: flex;
  justify-content: space-between;
}


/* end filter navigation */


.banner {
  width: 100%;
  margin: 20px 0px;
}

.banner img {
  width: 100%;
}



/*  start new product */

.star {
  color: rgb(202, 202, 202);
}

.star.active {
  color: rgb(242, 113, 0);
}

.new-product {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.new-product a {
  color: black;
  margin: 5px 0px;
  display: inline-block;
}

.new-product:hover a {
  color: var(--blue);
}

.new-product:hover .image-new-product {
  border: 1px solid red;
}

.image-new-product {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border: 1px solid var(--gray);
}

.image-new-product img {
  width: 100px;
  height: 100%;
}

.price-new-product {
  color: red;  
}


/* end new product */


/* start toolbar */

.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--gray);
  padding: 20px;
  align-items: center;
}

.grid-layout {
  font-size: 20px;
}

.grid-layout span {
  margin-right: 20px;
}

.range-product {
  font-size: 15px;
}

.dropdown-option label {
  margin-right: 10px;
}

.dropdown-option select {
  margin-right: 20px;
  height: 25px;
  width: 100px;
}

.pagination {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  .toolbar {
    display: block;
  }

  .range-product {
    margin: 20px 0px;
  }
}


/* end toolbar */