.order-history table {
  width: 100%;
  margin: 40px 0px;
}

.order-history table, .order-history table th, .order-history table td {
  border: 0.5px solid var(--gray);
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}

.order-history table td {
  color: gray;
  font-size: 15px;
}

.order-history a {
  color: var(--green);
}

.order-history a:hover {
  color: var(--blue);
}