.field .label {
  display: block;
  margin-bottom: 10px;
}

.field .label .required {
  color: red;
}

.field .input {
  padding: 10px;
  width: 100%;
  border: 0.5px solid var(--gray);
  outline: none;
}

.field .input:focus {
  border: 0.5px solid orange;
}