/* start services */

.services {
  background-color: #eff4f7;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 50px 0px;
}

.service {
  display: flex;
  align-items: center;
}

.icon-service {
  font-size: 40px;
  color: #005e99;
  margin-right: 10px;
}

.title-service {
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.detail-service {
  color: #777;
  font-size: 15px;
}


/*  end service  */
