body {
  margin: 0;
  font-family: 'Poppins', sans-serif;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-green {
  color: #73B320;
}

.color-blue {
  color: #39b0ff;
}