.table-order-detail {
  width: 100%;
  margin: 40px 0px;
}

.table-order-detail, .table-order-detail th, .table-order-detail td {
  border: 0.5px solid var(--gray);
  border-collapse: collapse;
  text-align: center;
}

.table-order-detail td {
  color: gray;
  font-size: 15px;
}

.table-order-detail a {
  color: var(--green);
}

.table-order-detail a:hover {
  color: var(--blue);
}

.table-order-detail button {
  margin-right: 10px;
}